h1{
    font-size: 50px;
    font-weight: 600;
    line-height: 80px;
}
.header{
    text-align: center;
}
.line{
    background-color: #40A4B9;
    width: 400px;
    height: 6px;
}
main{
    background-color: #F5F5F5;
    box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.15);
    width: 930px;
    height: 880px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 415px;
}
main > .google{
    width: 750px;
    height: 90px;
    margin-top: 50px;
    background-color: #4285F4;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    column-gap: 30px;
}
main > .google:hover{
    cursor: pointer;
}
main > .google > img{
    width: 55px;
    height: 55px;
    border: 6px solid white;
    border-radius: 200px;    
}
main > .or{
    font-size: 32px;
    font-weight: 600;
    margin-top: 50px;
}
main > form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
}
main > form > label{
    font-size: 25px;
    font-weight: 500;
    margin-left: 30px;
    margin-top: 20px;
}
main > form > input{
    border: none;
    background-color: #D9D9D9;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    padding: 15px;
}
main > form > article{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    margin-top: 10px;
}
main > form > article > input{
    width: 30px;
    height: 30px;
}
main > form > article > label{
    font-size: 23px;
    width: 42%;
}
main > form > article > .forgot{
    width: 50%;
    text-align: right;
    text-decoration: underline;
    font-size: 23px;
    color: black;
}
main > form > input[type="submit"]{
    color: white;
    background-color: #40A4B9;
    width: 750px;
    height: 75px;
    border-radius: 25px;
    align-self: center;
    margin-top: 30px;
    font-size: 30px;
    font-weight: 500;
}
main > form > input[type="submit"]:hover{
    cursor: pointer;
}
main > .noAccount{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 23px;
    font-weight: 500;
    column-gap: 20px;
}
main > .noAccount > a{
    color: black;
    text-decoration: underline;
}
footer{
    background-color: #B1B1B1;
    width: 100%;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 790px;
    font-size: 20px;
    font-weight: 600;
}
