body{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat';
    font-size: 20px ;
    line-height: 30px;
    font-weight: 500;
}
#present{
    background-color: rgba(0, 0, 0, 0.30);
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
header{
    width: 100%;
    height: 365px;
    display: flex;
    flex-direction: column;
}
header > nav{
    background-color: #40a4b9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%23000000' fill-opacity='0.20' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
    height: 114px;
    display: flex;
    flex-direction: row;
}
header > nav > .logo{
    height: 100%;
    width: 250px;
    background-color: white;
    transform-origin: bottom left;
    transform: skew(25deg, 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
header > nav > .logo > img{
    transform: skew(-25deg, 0deg);
    height: 100px;
    width: auto;
    margin-left: 10px;
}
header > nav > .navigation{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    color: white;
    column-gap: 30px;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
}
header > nav > .navigation > .button{
    height: 60px;
    width: 160px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid white;
    border-radius: 15px;
}
header > nav > .navigation > .login{
    height: 60px;
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    color: #40A4B9;
    background-color: white;
    border: 7px solid white;
    border-radius: 15px;
    margin-right: 20px;
    margin-left: 80px;
    column-gap: 20px;
}
header > nav > .navigation > .login > i{
   font-size: 40px; 
}
header > nav > .navigation > .button:hover{
    background-color: rgba(0, 0, 0, 0.15);
}
header > nav > .navigation > .login:hover{
    background-color: rgba(0, 0, 0, 0.15);
    color: white;
}
header > .bottom{
    background-image: url(images/back.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 251px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    column-gap: 90px;
}
header > .bottom > .quote{
    color: white;
    text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.50);
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 50px;
    margin-left: 100px;
}
header > .bottom > img{
    width: 200px;
    height: auto;
    border: 8px solid white;
    border-radius: 200px;
    align-self: center;
}
footer > .text{
    margin-bottom: 20px;
}
