h1{
    font-size: 50px;
    font-weight: 600;
    line-height: 80px;
}
h2{
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
}
.header{
    text-align: center;
}
.line{
    background-color: #40A4B9;
    width: 400px;
    height: 6px;
}
main{
    background-color: #F5F5F5;
    box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.15);
    width: 930px;
    height: 1900px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 415px;
}
main > .aboutUs{
    display: flex;
    flex-direction: row;
    column-gap: 90px;
    margin-top: 100px;
    margin-bottom: 50px;
}
main > .aboutUs > .picture > img{
    width: 250px;
    height: 250px;
    border-radius: 200px;
    box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.25);
    align-self: center;
}
main > .services{
    margin-top: 50px;
    margin-bottom: 50px;
}
main > .caterings{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
main > .caterings > .left{
    display: flex;
    flex-direction: column;
    width: 60%;
    row-gap: 60px;
}
main > .caterings > .left > .header2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}
main > .caterings > .left > .header2 > .line{
    width: 100%;
}
main > .caterings > .picture{
    width: 40%;
    display: flex;
    justify-content: right;
    align-items: center;
}
main > .caterings > .picture > img{
    width: 250px;
    height: 250px;
    border-radius: 200px;
    box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.25);
}
main > .delivery{
    display: flex;
    flex-direction: row;
}
main > .delivery > .left{
    display: flex;
    flex-direction: column;
    width: 60%;
    row-gap: 60px;
}
main > .delivery > .left > .header2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}
main > .delivery > .left > .header2 > .line{
    width: 100%;
}
main > .delivery > .picture{
    width: 40%;
    display: flex;
    justify-content: right;
    align-items: center;
}
main > .delivery > .picture > img{
    width: 250px;
    height: 250px;
    border-radius: 200px;
    box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.25);
}
footer{
    background-color: #B1B1B1;
    width: 100%;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 1810px;
    font-size: 20px;
    font-weight: 600;
}